.directory
.idea

# Exclusion de Behat
composer.*
behat.yml
bin/
vendor/
features/*

# Exclusion des fichiers de base de l'Agora
DOCUMENTATION_*
commun/
divers/
fonctions/
includes/
install/
module_agenda/
module_contact/
module_espaces/
module_fichier/
module_forum/
module_lien/
module_logs/
module_mail/
module_parametrage/
module_tableau_bord/
module_tache/
module_utilisateurs/
sessions/
stock_fichiers/
templates/
traduction/

index.php
RELEASES.txt
